.actor-card {
  border: 2px solid black;
  border-radius: 6px;
  width: 25%;
  height: 250px;
  box-shadow: 3px 4px 2px 1px rgba(117, 117, 117, 0.85);
  margin: 25px 25px;
  cursor: pointer;
  min-width: 250px;
}

.actor-image {
  border-bottom: 2px solid black;
  border-radius: 10px;
  height: 75%;
}
