.create-button {
  border: 2px solid black;
  border-radius: 4px;
  width: 150px;
  height: 25px;
  padding: 10px 5px;
  align-content: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  position: fixed;
  right: 350px;
}

.create-button:hover {
  background-color: gray;
}
