.login-button {
  display: inline-block;
  width: 100px;
  padding: 8px;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
  text-align: center;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.login-button:hover {
  background-color: gray;
}
