.App {
  text-align: center;
}

.body {
  width: 70%;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.page-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
}

.list-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.list-title {
  grid-column: 2/3;
}


.pagination-menu {
  cursor: pointer;
}

@media screen and (max-width: 400px) {

  .list-header {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .list-title {
    grid-column: 3/4;
  }

}
