.App {
  text-align: center;
}

.body {
  width: 70%;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.page-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
}

.list-title {
  width: 60%;
}

.add {
  font-size: 40px;
  margin: 0 3px 7px 0;
  padding: 0;
}

.create {
  margin: 0;
  padding: 0;
}

.pagination-menu {
  cursor: pointer;
}
