.App {
  text-align: center;
}

.body {
  width: 70%;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.page-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
}

.list-title {
  width: 60%;
  padding-left: 170px;
}

.add {
  font-size: 40px;
  margin: 0 3px 7px 0;
  padding: 0;
}

.create {
  margin: 0;
  padding: 0;
}

.create-button {
  border: 2px solid black;
  border-radius: 4px;
  width: 150px;
  height: 25px;
  padding: 10px 5px;
  align-content: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.create-button:hover {
  background-color: gray;
}

.pagination-menu {
  cursor: pointer;
}
