.navigation {
  background-color: #282c34;
  color: white;
}

.nav-wrapper {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  margin: 0 auto;
}

.nav-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0px 40px;
}

.login {
  justify-content: right;
}

@media only screen and (max-width: 700px) {
  .nav-wrapper {
    grid-template-rows: 2fr 1fr 1fr;
  }

  .logo {
    grid-column: 1/4;
  }

  .nav-items {
    grid-row: 2;
    grid-column: 1/4;
  }

  .login {
    grid-row: 3;
    grid-column: 2/3;
  }

}
