.navigation {
  background-color: #282c34;
  color: white;
}

.nav-wrapper {
  width: 70%;
}

.logo {
  text-align: left;
  width: 30%;
  margin: 0;
  padding: 0;
}

.nav-items {
  width: 50%;
  margin-right: 100px;
}

.nav-item {
  padding: 10px 20px;
  margin: 0 50px;
  cursor: pointer;
}

.logo-item {
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.login {
  width: 10%;
}
